
redis_host: 127.0.0.1
redis_port: 6379
redis_db: 0
redis_passwd:

dest_queue:
dest_queue_limit: 3000

max_reader: 500
max_sender: 500

collect_directory: /tmp/aaa
file_limit: 200M
read_wait_time: 3
log_file: sender.log
